language: ruby
rvm:
    - 2.2.0
before_script:
    - cp config/database.yml.travis config/database.yml
    - psql -c 'create database travis_ci_test;' -U postgres

script:
    - bundle exec rake db:test:prepare
    - bundle exec rake 
