language: ruby
rvm:
    - 2.2.0
before_script:
    - cp config/database.yml.travis config/database.yml
    - psql -c 'create database travis_ci_test;' -U postgres
    - RAILS_ENV=test bundle exec rake db:migrate
