%h1 Wishlist

/ someone else should make this look pretty
%table
  %thead
    %th Course
    %th Action
  %tbody
    - @wishlist.each do |item|
      %tr
        %td= link_to item, item 
        %td= render partial: 'wishlist/add_remove_link', locals: { course: item }
