%h1 Wishlist

/ someone else should make this look pretty
%table
  %thead
    %th Course
    %th Actions
  %tbody
    - @wishlist.each do |item|
      %tr
        %td= link_to item.course, item.course
        %td
          = render partial: 'wishlist/add_remove_link', locals: { course: item.course }
          = render partial: 'wishlist/set_notify_link', locals: { item: item }
