<div class="col-md-2">
  <div class="panel panel-default" id="sidebar">
    <div class="panel-heading" style="background-color:#888;color:#fff;">Explorer Links</div>
    <div class="panel-body">
      <ul class="nav nav-stacked">
        <li><a href="#">Home</a></li>
        <li><a href="#">New Search</a></li>
      </ul>
    </div><!--/panel body-->
  </div><!--/panel-->
</div><!--/end left column-->
