.col-md-2
  #sidebar.panel.panel-default
    .panel-heading{style: "background-color:#888; color:#fff;"} Explorer Links
    .panel-body
      %ul.nav.nav-stacked
        %li
          %a{href: "#"} Home
        %hr
        %li
          %a{href: "#"} New Search