<h1>About the Jolly Advisor</h1>

<h3>Origins</h3>

<p>
The Jolly Advisor was born out of a general frustration with the SIS system.
We wanted to create a comprehensive, one-stop-shop system to assist Case
students with course planning. We have built in a course scheduler, course
wishlist, and an easily-searchable catalog to fulfill that goal. For more
information about our features, check out our <%= link_to 'FAQ', faq_path %>.
</p>

<br>

<p>
The name comes from the local bar and restaurant, The Jolly Scholar. A lot of
the work on this project was done there, usually during trivia.
</p>

<h3>Feature Requests and Bugs</h3>

<p>
If you find a bug in the Jolly Advisor, please let us know so we can fix it
for you. The best way to let us know about bugs is by
<%= link_to 'submitting an issue on our GitHub', new_github_issue_url %>
</p>

<br>

<p>
Thought of an awesome feature?
<%= link_to 'Make a feature request', feathub_url %>!
Has someone else already requested your feature? Give it a +1. We
prioritize new features by how popular they are, so voting for your favorites
is the best way to ensure they get added quickly.
</p>

<h3>Contributing</h3>

<p>
Want to help out? We have a
<%= link_to 'wiki page', github_contributing_wiki_url %> to get you started.
</p>

<h3>The Team</h3>

<div class="row">
    <div class="col-md-6 col-xs-12 team-member">
        <div class="col-xs-3">
            <img class="img-circle" src="https://avatars1.githubusercontent.com/u/1930163?v=3&s=300"/>
        </div>
        <div class="col-xs-9 member-info">
            <div class="member-name">
                Matthew Bentley
            </div>
            <div class="member-title">
                Sysadmin
            </div>
            <div class="member-icons">
                <a class="svg-icon github" href="https://github.com/matthewbentley"></a>
                <a class="svg-icon twitter" href="https://twitter.com/Matteotom"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 team-member">
        <div class="col-xs-3">
            <img class="img-circle" src="https://avatars2.githubusercontent.com/u/6108241?v=3&s=300"/>
        </div>
        <div class="col-xs-9 member-info">
            <div class="member-name">
                Ben Cook
            </div>
            <div class="member-title">
                Lead Designer
            </div>
            <div class="member-icons">
                <a class="svg-icon github" href="https:github.com/bhc24"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 team-member">
        <div class="col-xs-3">
            <img class="img-circle" src="https://avatars3.githubusercontent.com/u/2295133?v=3&s=300"/>
        </div>
        <div class="col-xs-9 member-info">
            <div class="member-name">
                Steph Hippo
            </div>
            <div class="member-title">
                Maintainer, Lead Software Team
            </div>
            <div class="member-icons">
                <a class="svg-icon github" href="https://github.com/StephHippo"></a>
                <a class="svg-icon twitter" href="https://twitter.com/stephhippo"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 team-member">
        <div class="col-xs-3">
            <img class="img-circle" src="https://avatars1.githubusercontent.com/u/4276638?v=3&s=300"/>
        </div>
        <div class="col-xs-9 member-info">
            <div class="member-name">
                Andrew Mason
            </div>
            <div class="member-title">
                Maintainer, Lead Software Team
            </div>
            <div class="member-icons">
                <a class="svg-icon github" href="https://github.com/ajm188"></a>
                <a class="svg-icon twitter" href="https://twitter.com/andrew_mason1"></a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12 team-member">
        <div class="col-xs-3">
            <img class="img-circle" src="https://avatars0.githubusercontent.com/u/1574698?v=3&s=300"/>
        </div>
        <div class="col-xs-9 member-info">
            <div class="member-name">
                Aaron Neyer
            </div>
            <div class="member-title">
                Maintainer, Lead Software Team
            </div>
            <div class="member-icons">
                <a class="svg-icon github" href="https://github.com/Aaronneyer"></a>
                <a class="svg-icon twitter" href="https://twitter.com/Aaronneyer"></a>
            </div>
        </div>
    </div>
</div>
