%h1 About the Jolly Advisor

%h3 The Team
.row
  .col-md-6.col-xs-12.team-member
    .col-xs-3
      %img.img-circle{ src: 'https://avatars1.githubusercontent.com/u/1930163?v=3&s=300' }
    .col-xs-9.member-info
      .member-name Matthew Bentley
      .member-title sysadmin
  .col-md-6.col-xs-12.team-member
    .col-xs-3
      %img.img-circle{ src: 'https://avatars2.githubusercontent.com/u/6108241?v=3&s=300' }
    .col-xs-9.member-info
      .member-name Ben Cook
      .member-title Lead Designer
  .col-md-6.col-xs-12.team-member
    .col-xs-3
      %img.img-circle{ src: 'https://avatars3.githubusercontent.com/u/2295133?v=3&s=300' }
    .col-xs-9.member-info
      .member-name Stephanie Hippo
      .member-title Maintainer, Lead Software Team
  .col-md-6.col-xs-12.team-member
    .col-xs-3
      %img.img-circle{ src: 'https://avatars1.githubusercontent.com/u/4276638?v=3&s=300' }
    .col-xs-9.member-info
      .member-name Andrew Mason
      .member-title Maintainer, Lead Software Team
  .col-md-6.col-xs-12.team-member
    .col-xs-3
      %img.img-circle{ src: 'https://avatars0.githubusercontent.com/u/1574698?v=3&s=300' }
    .col-xs-9.member-info
      .member-name Aaron Neyer
      .member-title Lead Software Team
