// Place all the styles related to the scheduler controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


#semester_semester{
  margin-right: 20px;
}


#semester_year{
  margin-right: 20px;
}

#semester_half{
  margin-right: 20px;
}

#schedule_form {
  width: 250px;
  margin-top: 10px;
}
