%h1 Listing reviews

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
