<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-text navbar-right">
            <h5>©Tekin's Army 2017</h5>
        </div>
    </div>
</footer>
