<body>
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1>
                        <%= @course.department %><%= @course.course_number %>: <%= @course.title %>
                    </h1>
                </div>
            </div>
        </div>
    </header>
</body>
